.red-border {
  border: 1px solid $color-red
}

.blue-border {
  border: 1px solid $color-blue
}

.green-border {
  border: 1px solid $color-green
}

.yellow-border {
  border: 1px solid $color-yellow
}

.grey-border {
  border: 1px solid $color-grey
}